html {
  scroll-behavior: smooth;
}

.home {
  position: relative;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png) no-repeat
    center center;
  background-size: cover;
}

.home img {
  margin: 0 auto;
  padding-top: 200px;
  display: block;
}

.home h1 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;

  color: #ffffff;
  margin-top: 13px;
}

.home h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

main {
  background: #eeeeee;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

main h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
  padding-top: 87px;
}

main h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  margin-top: 40px;
}

main p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 48px 97px;
}

main button {
  background: #55c2d8;
  border-radius: 18px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 21px auto;
  display: block;
  border: none;
  padding: 6px 18px;
}

.learn {
  background: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
  height: 666px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-size: cover;
}

.learn .info {
  position: relative;
}

.learn .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(140, 79, 42, 0.3);
}

.learn h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  padding-top: 84px;
}

.learn button {
  background: #39c2d7;
  border-radius: 50%;
  padding: 40px 48px 40px 50px;
  display: block;
  margin: 53px auto;
  border: none;
  color: fff;
  font-size: 70px;
  height: 154px;
  width: 150px;
}

.learn h3 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
}

footer {
  font-family: Source Sans Pro;
  background: #464547;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  margin-left: 145px;
  line-height: 19px;
  font-size: 16px;
}

.ft-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.ft-name img {
  margin-right: 16px;
}

.ft-contact {
  margin-top: 12px;
}

footer a,
p {
  color: rgba(255, 255, 255, 0.4);
}
